<%= form_with(model: meeting) do |form| %>
  <% if meeting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.date_field :day %>
  </div>

  <div>
    <%= form.label :begin, style: "display: block" %>
    <%= form.time_field :begin %>
  </div>

  <div>
    <%= form.label :end, style: "display: block" %>
    <%= form.time_field :end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
