<div id="<%= dom_id meeting %>">
  <p>
    <strong>Title:</strong>
    <%= meeting.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= meeting.content %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= meeting.day %>
  </p>

  <p>
    <strong>Begin:</strong>
    <%= meeting.begin %>
  </p>

  <p>
    <strong>End:</strong>
    <%= meeting.end %>
  </p>

</div>
