<div id="<%= dom_id notice %>" class="flex flex-col items-center border-2 rounded-xl w-1/3 h-1/3 justify-between p-5">
  <h1 class="text-3xl font-bold mb-5"><%= notice.title.upcase %></h1>

  <p><%= notice.content %></p>

  <p>Postado em: <strong><%= notice.created_at.strftime("%d/%m/%Y") %> às <%= notice.created_at.strftime("%H:%M") %></strong></p>
</div>

