<div id="<%= dom_id booking %>">
  <p>
    <strong>Place:</strong>
    <%= booking.place %>
  </p>

  <p>
    <strong>Requester:</strong>
    <%= booking.requester %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= booking.day %>
  </p>

  <p>
    <strong>Begin:</strong>
    <%= booking.begin %>
  </p>

  <p>
    <strong>End:</strong>
    <%= booking.end %>
  </p>

</div>
